*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
section{
    margin-top: 130px;
}
/* Hearder and nevagation styles */
.header{
    background-color:#FFF8F3 ;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
.Nav-title{
    margin-left: 220px;
    font-weight: 400;
font-size: 25px;
}

nav li{
    list-style: none;
    margin-left:5px ;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 12px;
    height: 20px;
    border: 0px;
    padding: 3px 5px;
    background: #FD6E0A;
    border-radius: 5px;
}
/*--banner styles--*/
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
font-size: 45px;
margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    margin-bottom: 30px;
}
/* Main Section*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/*About Section Styles*/
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    text-align: center;
    margin: 30px;
    font-weight: 700;
font-size: 35px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}
/* details */
.details{
  
    position: absolute;
    width: 782px;
    height: 60px;
    left: 600px;
    top: 1250px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #757575;

}
/*about info container*/
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 15px;
    color: #474747;
}

/*What I do*/
.I-do{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.I-do-title{
    text-align: center;
    margin: 30px;
    font-weight: 700;
  font-size: 35px;
}
.I-do-description{

color: #757575;
font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}
.skills-container{
    display: flex;
    gap:24px;
    justify-content: space-around;
    background: #FFFFFF;

}
.skill{
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
}
.skill-title{
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
margin-bottom: 20px;
margin-top:30px ;
}
.skill-description{
 color: #757575;
font-weight: 400;
font-size: 16px;
line-height: 28px;
margin: 20px 20px;

}
/*Resume Section*/
.section_title{
    text-align: center;
    margin-bottom: 20px;
}
.resume_title{
font-weight: 200;
font-size: 30px;
color: #474747;
margin-bottom: 10px;


}
.resume_degree{
    color: #474747;
    margin-bottom: 10px;

  
width: 405px;
height: 34px;

}
.resume_description{
    color: #757575;
    margin-bottom: 10px;

}

.resume-content{
    display: flex;
    

}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/*Conclusion*/
.conclusion{
    display: flex;
    text-align: center;
}
.contact-title{
    font-weight: 700;
font-size: 35px;
line-height: 48px;
}
.contact-description{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.icon{
    margin-top: 20px;
    display: flex;
}
.text{
    background: #FFFFFF;
border-radius: 5px;
}
.text{
width: 461px;
height: 64px;
left: 909px;
top: 3682px;
}
.submit{
 width: 50px;
height: 64px;

background: #FD6E0A;
border-radius: 5px;
color: #FFFFFF;
}